.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    opacity: 0.7;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.swiper-pagination-bullet:hover {
    transform: scale(1.1);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #556e5b;
    opacity: 1;
    transform: scale(1.25);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
