@import "tailwindcss";

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Montserrat-italic";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  }
  
  @theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-montserrat-italic: "Montserrat-italic", sans-serif;
    --color-primary: #556E5B;
    --color-secondary: #F1E0D8;
  }

  screens {
    xs: {max: '600px'}
  }
  